

.container-main
    width: 100%
    margin-top: 5rem
    text-align: center

    .container-card
        margin: auto
        width: 35%
        display: block
        margin-top: 2rem

        .title
            padding: 2rem

        .example-form
            
               
        .inputs
            display: block
            padding: 0 3rem

        .button-login
            width: 50%
            margin: 2rem 0
            
                
                

            
