


<mat-card class="container-card">
    <mat-card-content cols="1" class="container-card-inputs">
        <mat-grid-list cols="2" class="form-login">
            <h1>Iniciar sesion</h1>
            <mat-grid-list cols="1" class="inputs-login">
                <mat-form-field cols="1">
                    <mat-label>Ingresar usuario</mat-label>
                    <input matInput>
                </mat-form-field>
            
                <mat-form-field cols="1">
                    <mat-label>Ingresar contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-grid-list>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
